body {
  background: #151a20;
  color: #fff;
  max-width: 20cm;
}

#searchbar-container {
  margin: auto;
  width: 80%;
}
#searchbar {
  margin-top: 10%;
  padding: .25em;
  width: 100%;
  border: 4px solid #080d13;
  border-radius: 8px;
  background: #0f131a;
  color: #dde;
  font-size: 2em;
}
@media screen and (max-width: 767px) {
  #searchbar {
    font-size: 16px !important;
  }
}

#results {
  list-style: none;
}
.tp-word {
  float: left;
  margin-top: 0px;
  color: #aab0dd;
  font-size: 3.5em;
}
.tags {
  margin-left: 0.25em;
  margin-top: .8em;
  color: #a3a9d6;
  font-size: 1.75em;
}
table {
  width: 100%;
}
tr {
  height: 3.5em;
}
.definition-cell {
  font-size: 2em;
}
.score-cell {
  padding-right: 5em;
}
.score-meter {
  float: right;
  width: 20em;
}
