body {
  margin: 0;
  background: #151a20;
  color: #fff;
  font-size: 16px;
  /* max-width: 20cm; */
}
a:link {
  color: #b0b8ff;
}
a:visited {
  color: #9090b7;
}
a:hover {
  color: #ccf;
}
a:active {
  color: #a0a4db;
  text-decoration: none;
} 

#header {
  padding: 2.75em 0;
  border-bottom: 4px solid #0002;
  background: #0f131a;
}
#searchbar-container {
  margin: auto;
  width: 80%;
}
input, select, textarea {
  padding: .25em;
  width: 100%;
  border: 4px inset #080d13;
  border-radius: 8px;
  background: #11151c;
  color: #dde;
  font-size: 16px;
}
@media screen and not (max-width: 767px) {
  #searchbar {
    font-size: 2em;
  }
}

#results {
  padding: 40px;
  list-style: none;
}
li {
  margin: 20px 0;
}
.summary-entry {
  margin: 0;
  float: left;
  cursor: pointer;
  font-size: 20px;
}
.summary-expanded .summary-definitions-container {
  display: none;
}
.copy-link {
  cursor: pointer;
}
hr {
  color: #484a5d;
}

.details {
  margin-left: 2em
}
table {
  width: 100%;
}
tr {
  height: 2em;
}
.definition-cell {
  font-size: 18px;
}
.score-cell {
  padding-right: 1em;
}
.score-meter {
  float: right;
  width: 20em;
}

#credits {
  margin: auto;
  padding-bottom: 40px;
  max-width: 80%;
  text-align: center;
}
