body {
  margin: 0;
  background: #151a20;
  color: #fff;
  font-size: 16px;
  /* max-width: 20cm; */
}
a:link {
  color: #b0b8ff;
}
a:visited {
  color: #9090b7;
}
a:hover {
  color: #ccf;
}
a:active {
  color: #a0a4db;
  text-decoration: none;
}

#header {
  padding: 2.75em 0;
  border-bottom: 4px solid #0002;
  background: #0f131a;
}
#searchbar-container {
  margin: auto;
  width: 80%;
}
input, select, textarea {
  padding: .25em;
  width: 100%;
  border: 4px inset #080d13;
  border-radius: 8px;
  background: #11151c;
  color: #dde;
  font-size: 24px;
}
@media screen and (min-width: 767px) {
  #searchbar {
    font-size: 18px;
  }
}

#results {
  margin: 3em 0;
  padding: 0 40px;
  list-style: none;
}
.entry {
  margin: 20px 0;
}
.summary-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.summary-entry {
  margin: 0;
  float: left;
  cursor: pointer;
  font-size: 20px;
}
/*.expand-indicator*/
.summary-expanded b {
  font-size: 30px;
  font-family: sans-serif;
}
.summary-expanded .summary-definitions-container {
  display: none;
}
/*.summary-seperator
.summary-definitions*/
.copy-link {
  margin-left: 5px;
  padding: 4px;
  width: 24px;
  height: 24px;
  border: 4px outset #292e34;
  border-radius: 15px;
  background: #292e34;
  cursor: pointer;
}
.copy-link:active {
  padding: 6px;
  border: 2px inset #1f242a;
  background: #1f242a;
}
hr {
  color: #484a5d;
}

.details {
  margin: 0 2em;
}
/*.nimi-ale-pona-definition
.etymology*/
.table-container {
  border: 1px solid #515550;
  border-radius: 3px;
  overflow: hidden;
}
table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  height: 2em;
  border: 1px solid #33373c;
}
tr:nth-child(odd) {
  background: #6661
}
.definition-cell {
  padding-left: 8px;
  font-size: 18px;
}
.score-cell {
  padding-right: 1em;
}
.score-meter {
  float: right;
  width: 20em;
}

#credits {
  margin: 40px auto;
  max-width: 80%;
  text-align: center;
}
